{% extends "eats/display/base.html" %}
{% load entity_display %}

{% block eats_title %}{{ block.super }} Search entities{% endblock eats_title %}

{% block eats_content %}
<h1>Search entities</h1>

<form method="get" action="">
{{ search_form.as_p }}
<input type="submit" name="search" value="Search"/>
</form>

{% if search_results %}
<h2>Results</h2>

<div id="search-results">
  {% for entity in search_results %}
  {% display_entity_search_result entity %}
  {% endfor %}
</div>

<div class="pagination">
  <span class="step-links">
    {% if search_results.has_previous %}
      <a href="?name={{ search_form.name.value }}&page={{ search_results.previous_page_number }}" title="Previous page of results">&lt;</a>
    {% endif %}
    <span class="current">
      Page {{ search_results.number }} of {{ search_results.paginator.num_pages }}.
    </span>
    {% if search_results.has_next %}
      <a href="?name={{ search_form.name.value }}&page={{ search_results.next_page_number }}" title="Next page of results">&gt;</a>
    {% endif %}
  </span>
</div>

{% else %}
{% if search_form.is_bound %}
<h2>No results</h2>
{% endif %}
{% endif %}

{% if user_is_editor %}
<p><a href="{% url 'entity-add' %}">Create a new entity.</a></p>
{% endif %}

{% endblock eats_content %}