{% extends "eats/edit/base.html" %}

{% block eats_content %}
<h1>Edit date</h1>

<p>This date is associated with a property assertion for the entity
"{{ preferred_name }}".</p>

<form id="date-change-form" method="post" action="">
  {% csrf_token %}

  {% include "eats/edit/date_form.html" %}

  <h2>Notes</h2>

  {% for note in notes %}
  <p>{{ note.note }}{% if note.is_internal %} [<i>internal</i>]{% endif %} — <a href="{% url 'eats-date-note-change' entity_id assertion_id date_id note.get_id %}">Edit</a></p>
  {% endfor %}

  <p><a href="{% url 'eats-date-note-add' entity_id assertion_id date_id %}">Add a note</a></p>

  <p><input class="button" type="submit" name="_save" value="Save" accesskey=";"/> <input class="button" type="submit" name="_continue" value="Save and continue editing"/> <input class="button" type="submit" name="_delete" value="Delete"/></p>
</form>
{% endblock %}
