{% extends "eats/edit/base.html" %}

{% block eats_title %}{{ block.super }}View import{% endblock eats_title %}

{% block eats_content %}
<h1>View import</h1>

<p>Description: {{ import.description }}

<p>This import was performed at {{ import.import_date }} by
{{ import.importer.user }}.</p>

<ul>
<li><a href="{% url 'eats-display-eatsml-import-raw' import.id %}">Raw XML</a> — the document that was imported</li>

<li><a href="{% url 'eats-display-eatsml-import-annotated' import.id %}">Annotated XML</a> — the imported document
annotated with the IDs of the created objects</li>
</ul>

<p><a href="{% url 'eats-import-eatsml' %}">All Imports</a></p>

{% endblock eats_content %}
