{% extends "eats/edit/base.html" %}

{% block eats_content %}
<h1>Edit entity</h1>

<form action="" method="post">
  {% csrf_token %}

  <fieldset>
    <legend>Existences</legend>

    {{ existence_formset.management_form }}

    <table>
      <thead>
        <tr>
          <th scope="col">Delete?</th>
          <th scope="col">Authority</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for form in existence_formset %}
        <tr>
          <td>{% if form.initial %}{{ form.DELETE }}{% endif %}</td>
          <td>{{ form.authority }}</td>
          <td class="errors">{% if form.errors %}<ul>
          {% for error in form.errors.values %}
          <li>{{ error }}</li>
          {% endfor %}
          </ul>{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </fieldset>

  <fieldset>
    <legend>Entity types</legend>

    {{ entity_type_formset.management_form }}

    <table>
      <thead>
        <tr>
          <th scope="col">Delete?</th>
          <th scope="col">Authority</th>
          <th scope="col">Entity type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for form in entity_type_formset %}
        <tr>
          <td>{% if form.initial %}{{ form.DELETE }}{% endif %}</td>
          <td>{{ form.authority }}</td>
          <td>{{ form.entity_type }}</td>
          <td class="errors">{% if form.errors %}<ul>
          {% for error in form.errors.values %}
          <li>{{ error }}</li>
          {% endfor %}
          </ul>{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </fieldset>

  <div>
    <input type="submit" value="Save" name="_save"/>
  </div>
</form>

{% endblock eats_content %}


