{{ form.non_field_errors }}

<table>
  <thead>
    <tr>
      <th scope="col">Note</th>
      <th scope="col">Is internal?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div>{{ form.note }}</div>
        {% if form.errors.note %}
        <div class="errors">{{ form.errors.note }}</div>
        {% endif %}
      </td>
      <td>
        <div>{{ form.is_internal }}</div>
        {% if form.errors.is_internal %}
        <div class="errors">{{ form.errors.is_internal }}</div>
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>
