<p>Each relationship between two entities is bidirectional, and may be
either symmetrical (each entity plays the same role) or
asymmetrical. The name of the relationship depends on the direction it
is seen from. For an asymmetrical relationship such as that between a
child and a parent, the name might be "is child of" and the reverse
name "is parent of". In the case of a symmetrical relationship such as
between two spouses, the name and reverse name should be the same,
such as "is spouse of".</p>
