<p>If names may be broken down into parts (such as given and family
for people), specify them here in the order which they should be
rendered by EATS' automatic name assembler. (Do not worry; in those
cases where that assembler gets a name wrong, you can override the
display using the "display form" of the name.)</p>

<p>If you wish to have name parts for multiple types of entity/name
(for example both personal and Linnean names), just ensure that they
are all listed, in the appropriate order for each.</p>

<p>If you need more than the given number of name part type dropdowns,
simply save the form and additional empty dropdowns will be
provided.</p>

<p>The language code should be an ISO 639 language code.</p>
