{% extends "eats/admin/base.html" %}

{% block eats_title %}{{ block.super }}: Change preferences for EATS user "{{ user }}"{% endblock eats_title %}

{% block eats_content %}
<h1>Change preferences for EATS user "{{ user }}"</h1>

<form action="" id="infrastructure-change-form" method="post">
  {% csrf_token %}

  <table>
  {{ form.as_table }}
  </table>

  <div>
    <input class="button" type="submit" value="Save" name="_save"/>
    <input class="button" type="submit" value="Save and continue editing" name="_continue"/>
  </div>
</form>

<p><a href="{% url 'eats-administration-panel' %}">Administration Panel</a></p>
{% endblock eats_content %}
